#sideNav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(48, 48, 48);
  overflow-x: hidden;

  .logo-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background: black;
    h3 {
      color: white;
      font-weight: 300;
      font-size: 2rem;
    }
  }
  .side-real {
    color: white;
    h4 {
      font-weight: 300;
      margin: 0;
      margin-left: 20px;
    }
    .linkazz {
      display: flex;
      padding: 25px;
      transition: all 0.5s;
      cursor: pointer;
    }
    .first-link {
      margin-top: 20px;
    }

    .linkazz:hover {
      background: black;
    }
  }
}

#mainNav {
  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */

  display: flex;
  flex-direction: column;
  .main-nav {
    box-shadow: 2px 5px 22px -4px rgba(0, 0, 0, 0.52);

    height: 65px;
    background: #3848ab;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .user {
      padding: 10px;
    }
  }

  .form {
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    text-align: center;

    h4 {
      font-weight: 300;
    }
    .subcontain {
      width: 100%;
      height: 100%;

      .bottom {
        margin: 0 140px;
        margin-top: 0px;
        margin-top: -150px;
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      margin: 0 150px;
      margin-top: 30px;

      .left {
        text-align: left;
      }
    }
    ///////////////////MODAL/////////////////
    .not-done-modal {
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6); 

      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }
    }
  }
}
