@import './dashboard.scss';
@import './form.scss';
@import './Recipes';
@import './otherRec';
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

a,
a:visited {
  color: white;
  font-style: none;
  text-decoration: none;
}
#pg1 {
  color: white;
  height: 800px;
  background: url("../img/masthead.jpg") no-repeat center center;
  background-size: cover;
}

.darken-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.pg-1 {
  margin: 0 155px;
}

nav {
  display: flex;
  justify-content: space-between;

  .logo {
    margin-top: 30px;
  }
  ul {
    display: flex;

    li {
      padding: 10px;
      border-radius: 15px;

      &:hover,
      &:focus {
        transition: all 0.6s;
        background-color: white;
      }
      a {
        &:hover {
          transition: all 0.6s;
          color: black;
        }
      }
    }
  }
}

.head {
  display: flex;
  justify-content: center;
  margin-top: 150px;

  .words {
    text-align: center;
    h1 {
      font-size: 5rem;
      font-weight: 300;
    }
    h3 {
      font-weight: 300;
      font-size: 1.6rem;
    }
  }
}
.section {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.button {
  padding: 14px 0;
  border: 2px white solid;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: color 0.4s, background-color 0.4s;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
  width: 210px;

  width: 150px;
  &:hover,
  &:focus {
    transition: color 0.4s, background-color 0.4s;
    color: black;
    text-decoration: none;
    background-color: white;
  }
}

#pg2 {
  height: 650px;
}

///////////Section 2/////////////
#pg-2 {
  margin: 125px 155px 120px 155px;
  display: flex;
  justify-content: space-between;
  .welcomeImg {
    background: url("../img/welcome-food.jpg") no-repeat center center;
    background-size: cover;
    height: 560px;
    width: 600px;
    margin-right: 132px;
  }

  .welcome-card {
    width: 525px;
    display: flex;
    align-items: center;
    h2 {
      font-size: 3rem;
      font-weight: 300;
    }
    h4 {
      font-weight: 300;
      line-height: 24px;
    }
  }
}

///////////Section 3/////////////

#pg-3 {
  margin: 125px 155px 120px 155px;
  height: 600px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
    h2 {
      font-size: 3rem;
      font-weight: 300;
    }
  }
  .card-container {
    display: flex;
    justify-content: space-between;

    align-items: center;
    height: 80%;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      height: 400px;
      width: 300px;
      text-align: center;
      i {
        font-size: 6rem;
        margin-top: 20px;
      }
      .content-card {
        margin-bottom: 50px;
        h3 {
          font-size: 2rem;
          font-weight: 300;
        }
        h4 {
          font-weight: 300;
          line-height: 24px;
        }
      }
    }
  }
}

///////////Section 3/////////////
footer {
  height: 100px;
  background: #504f50;
  display: flex;
  align-items: center;
  .foot {
      color: white;
      margin-left: 100px;
  }
}
